.debug
{
    min-height: 100px;

    border: 1px solid darkgrey;
    background-color: grey;
}

.centered
{
    margin: 0 auto;

    text-align: center;
}

/*
*    Zone
*/
.zone
{
    min-width: 500px;
    height: 100%;

    border-right: 1px solid grey;
}

.playbackZone
{
    height: 100px;

    border-right: 1px solid grey;
}

/*
*    Cards
*/
.card
{
    min-height: 100px;
    margin-bottom: 10px;
    padding: 10px 15px;

    text-align: left;

    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.card-content
{
    /* do nothing for now  but might want this later*/
}

.card-footer
{
    display: -webkit-box;

    width: 100%;
    min-height: 50px;
    max-height: 40%;
    padding-top: 10px;

    border-top: 1px solid grey;
}



/*
*    Typography
*/
h1
{
    font-weight: 400;

    width: 50%;
}

h2
{
    font-weight: 300;
}

h3
{
    font-weight: 200;

    margin-top: 50px;
}

/*
*    Sensors
*/
.status-light
{
    position: absolute;
    top: 5px;
    right: 20px;

    width: 10px;
    height: 10px;

    border-radius: 5px;
    background-color: green;
}

/*
*    Guages
*/
.gauge-container
{
    max-width: 120px;
    margin: 0 auto;
}

/*
*    Sparkline
*/
.sparkline
{
    height: 50px;

    cursor: pointer;
}
