#glassContainer  /* src : http://priteshgupta.com/2011/07/filling-a-glass-with-water-using-html5/*/
{
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    transition: all .5s ease-out;

    border-top: 0;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-radius: 10px;
    background: rgba( 0, 0, 0, .10);
}
#glass  /* src : http://priteshgupta.com/2011/07/filling-a-glass-with-water-using-html5/*/
{
    position: relative;

    width: 37px;
    height: 60px;

    border: 1px solid #bbb;
    border-top: 1px solid #eee;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: rgba( 255, 255, 255, .50);
}
#water  /* src : http://priteshgupta.com/2011/07/filling-a-glass-with-water-using-html5/*/
{
    position: absolute;
    bottom: 0;

    width: 34px;
    height: 50px;

    transition: all .2s ease-out;

    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: #8ad5f8;
    background-position: top right;
}
.progress
{
    position: relative;

    transition: all 9s;
}

.progress-bar span
{
    position: absolute;

    display: block;

    width: 100%;
    max-width: 100%;

    transition: all 9s;

    color: white;
}

.divider
{
    height: 1px;

    border-bottom: 1px solid lightgrey;
}

.sensorsContainer
{
    min-height: 400px;

    background-color: lightgrey;
}
.debug
{
    min-height: 100px;

    border: 1px solid darkgrey;
    background-color: grey;
}

.centered
{
    margin: 0 auto;

    text-align: center;
}

/*
*    Zone
*/
.zone
{
    min-width: 500px;
    height: 100%;
}

.playbackZone
{
    height: 100px;

    border: 1px solid #ececec;
    background-color: #f9f9f9;
}

.playbackObject
{
    display: none;

    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 17%;

    background-image: url('../images/dance_1.gif');
    background-repeat: no-repeat;
}
.playhistory-info
{
    font-size: 10px;
    font-weight: bold;

    color: #337ab7;
}
.show
{
    display: block;
}
.zone-label
{
    font-size: 10px;

    position: absolute;
    top: 86%;
    left: 0;

    width: 100%;

    text-align: center;

    color: #afafaf;
    border-top: 1px solid #f1f1f1;
    text-shadow: 0 0 2px white;
}
.center-wrap
{
    text-align: center;
}
.date-square
{
    font-size: 10px;

    float: left;

    width: 15px;
    height: 15px;
    margin: 1px;

    cursor: pointer;
    text-align: center;

    color: #b4bf40;
    border: 1px solid #dadada;
    background-color: whitesmoke;
}
.zone0-date-square
{
    background-color: whitesmoke;
}
.zone1-date-square
{
    background-color: #009688;
}
.zone2-date-square
{
    background-color: #8bc34a;
}
.zone3-date-square
{
    background-color: #cddc39;
}
.zone-size-1
{
    width: 32px;
}
.zone-size-2
{
    width: 49px;
}
.zone-size-3
{
    width: 66px;
}
.zone-size-4
{
    width: 83px;
}
.zone-size-5
{
    width: 100px;
}
.zone-size-6
{
    width: 117px;
}
.zone-size-7
{
    width: 134px;
}

.date-square-selected
{
    border: 1px solid #e91e63;
    box-shadow: 0 0 1px #e91e63;
}
/*
*    Cards
*/
.card
{
    margin-bottom: 10px;
    padding: 10px 15px;

    text-align: left;

    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.card-content
{
    /* do nothing for now  but might want this later*/
}

.card-footer
{
    display: -webkit-box;

    width: 100%;
    min-height: 50px;
    max-height: 40%;
    padding-top: 10px;

    border-top: 1px solid grey;
}



/*
*    Typography
*/
h1
{
    font-weight: 400;

    width: 50%;
}

h2
{
    font-weight: 300;
}

h3
{
    font-weight: 200;

    margin-top: 50px;
}

/*
*    Sensors
*/
.status-light
{
    width: 10px;
    height: 10px;
    margin-top: 4px;

    border-radius: 5px;
    background-color: green;
}

/*
*    Guages
*/
.gauge-container
{
    max-width: 120px;
    margin: 0 auto;
}

/*
*    Sparkline
*/
.sparkline
{
    height: 50px;

    cursor: pointer;
}
#battery
{
    margin-top: 2px;
}
#profilePictureSelection label > input
{
    position: absolute;

    visibility: hidden;
}
#profilePictureSelection label > input + img
{
    cursor: pointer;

    border: 2px solid transparent;
}
#profilePictureSelection label > input:checked + img
{
    border: 2px solid #00bfff;
}
