
<div ng-repeat="i in range(list.length) track by $index" ng-init="mainIndex = $index">
    <div ng-class="{'zone1':(zone1.indexOf(mainIndex)>-1), 'zone2':(zone2.indexOf(mainIndex)>-1), 'zone3':(zone3.indexOf(mainIndex)>-1)}"  ng-drop="true" ng-drop-success="onDropComplete($data, $event, mainIndex)">
      <span class="title" style="opacity:0.3">{{$index}}</span>

      <div ng-repeat="obj in list[mainIndex]" ng-drag="true" ng-drag-data="obj">
          {{obj.name}}
      </div>
    </div>
</div>
  

  <!-- <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
      <span class="title">Drop area #1</span>

      <div ng-repeat="obj in list[0]" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data, $event)">
          {{obj.name}}
      </div>
  </div> -->

<!--   <div ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">
      <span class="title">Drop area #2</span>

      <div ng-repeat="obj in list[1]" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess2($data,$event)">
          {{obj.name}}
      </div>

  </div> -->

<!--   <pre style="clear:both;">{{list[0] | json}}</pre>
  <pre style="clear:both;">{{list[1] | json}}</pre> -->