<header class="container-fluid">
  <h1 class="centered">Smart lab   <a href="#/map" class="btn btn-primary"> <span class="fa fa-map-o"></span> </a></h1>

</header>


<div class="centered" id="zoneContainer">

    <div id="zone1" class="col-xs-12 col-sm-6 col-md-4 zone">
        <h2>Zone 1</h2>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveLight1"></div>
                        </div>

                        <div class="card-footer">

                          <button ng-click="openHistory('zone1light')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(1, 'light', 'blue')" class="sparkline"></div>
                          </button>


                        </div>

                    </div>
                    <!-- card -->
                </div>

                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveTemp1"></div>
                        </div>

                        <div class="card-footer">
                            <button ng-click="openHistory('zone1temp')" class="btn btn-default btn-block">  <div google-chart chart="sparkline(1, 'temp', 'red')" class="sparkline"></div>
                            </button>
                        </div>

                    </div>
                    <!-- card -->
                </div>

            </div>
            <!-- row -->


        </div>
        <!-- //container -->

        <div class="container-fluid ">
            <h3>Sensors</h3>
            <div class="row sensorsContainer" id="zone1Sensors">


            </div>


        </div>
        <!-- //container -->



    </div>
    <!-- zone -->



    <div id="zone2" class="col-xs-12 col-sm-6 col-md-4 zone">
        <h2>Zone 2</h2>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveLight2"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="openHistory('zone2light')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(2, 'light', 'blue')" class="sparkline"></div>
                        </button>

                        </div>

                    </div>
                    <!-- card -->
                </div>

                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveTemp2"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="openHistory('zone2temp')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(2, 'temp', 'red')" class="sparkline"></div>
                        </button>
                        </div>

                    </div>
                    <!-- card -->


                </div>

            </div>
            <!-- row -->


        </div>
        <!-- //container -->

        <div class="container-fluid ">
            <h3>Sensors</h3>
            <div class="row sensorsContainer" id="zone2Sensors">


            </div>


        </div>
        <!-- //container -->


    </div>
    <!-- zone -->


    <div id="zone3" class="col-xs-12 col-sm-6 col-md-4 zone">
        <h2>Zone 3</h2>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveLight3"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="openHistory('zone3light')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(3, 'light', 'blue')" class="sparkline"></div>
                        </button>

                        </div>

                    </div>
                    <!-- card -->
                </div>

                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveTemp3"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="openHistory('zone3temp')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(3, 'temp', 'red')" class="sparkline"></div>
                        </button>
                        </div>

                    </div>
                    <!-- card -->
                </div>

            </div>
            <!-- row -->


        </div>
        <!-- //container -->

        <div class="container-fluid ">
            <h3>Sensors</h3>
            <div class="row sensorsContainer" id="zone3Sensors">


            </div>


        </div>
        <!-- //container -->



    </div>
    <!-- zone -->

</div>



<!--

  PERSON TEMPLATE

 -->
<div id="personTemplate" class="col-xs-6 object-card hidden">
    <div class="card">
  <div class="card-content">
    <span id="spotName">Unassigned</span> <br>
    <div class="centered">
      <span id="profileImage"class="fa fa-user fa-4x"></span>
    </div>

  </div>


            <div class="card-footer">
            <small id="spotMAC">Unknown Address</small><br>
            <div class="btn-group" role="group">
              <button id="viewPersonBtn" class="btn btn-primary data-button " type="button" name="button" data-toggle="modal" data-target="#viewPerson" data-name="" data-address="" data-zone="" data-task=""><span class="fa fa-eye"></span></button>
              <span id="locationHistoryBtn" data-toggle="modal" data-target="#historyPlayback" class="btn btn-primary btn"><span class="fa fa-history"></span></span>


            </div>

            </div>


    </div>
</div>
<!-- end template -->

<!--

  SENSOR TEMPLATE

 -->
<div id="sensorTemplate" class="col-md-12 col-lg-6 object-card hidden">
    <div class="card">
      <div class="card-content">
        <div id="status" class="status-light"> </div>

        <span id="spotName"> Spot name </span>

        <div id="liveDatalight" title="Live Light Data" class="col-xs-6">  </div>
        <div id="liveDatatemp" title="Live Temperature Data" class="col-xs-6">  </div>
        <div id="liveDatamotion" title="Live Motion Data" class="col-xs-6">  </div>
        <div id="liveDatabtn" title="Live Button Data" class="col-xs-6">  </div>

        <span id="spotTask" class="col-xs-12">Spot type</span>

      </div>

        <div class="card-footer">

          <small id="spotMAC"> Spot MAC</small><br>
          <div class="btn-group" role="group">
            <button id="editSensorBtn" class="btn btn-primary data-button" data-toggle="modal" data-target="#myModal" data-name="" data-task="" data-address="" data-zone=""><span class="fa fa-edit"></span></button>

            <button id="historySensorBtn" data-address="" data-task="" class="btn btn-primary btn"><span class="fa fa-bar-chart"></span></button>
            <button id="locationHistoryBtn" data-toggle="modal" data-target="#historyPlayback" data-address="" class="btn btn-primary btn"><span class="fa fa-history"></span></button>


          </div>

        </div>


    </div>

</div>
<!-- end template -->


<!--

HISTORY PLAYBACK MODAL

 -->

 <div id="historyPlayback" class="modal fade">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Location History Playback</h4> <small id="spotAddress"> address unkown </small>
       </div>
       <div class="modal-body">
        <div class="container-fluid">
          <form class="form-inline" role="form">
              <div class="form-group">
                  <label class="control-label col-sm-2">Length:
                  <select id="playbackHours">
                    <option value="1">1 hour</option>
                    <option value="5">5 hours</option>
                    <option value="24">24 hours</option>
                    <option value="168">1 week</option>
                  </select></label>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2">Speed:
                  <select id="playbackSpeed">
                    <option value="1">1x</option>
                    <option value="2">5x</option>
                    <option value="5">20x</option>
                    <option value="10">100x</option>
                  </select></label>
              </div>
              <button type="submit" class="btn btn-default" ng-click="fillArray()">Play</button>
            </form>
            <br>
            <div class="container-fluid">
              <div id="playbackZone1" class="col-xs-4 playbackZone">
                  Zone 1
              </div>
              <div id="playbackZone2" class="col-xs-4 playbackZone">
                  Zone 2
              </div>
              <div id="playbackZone3" class="col-xs-4 playbackZone">
                  Zone 3
              </div>
            </div>
            <div id="timeline_div"></div>
            <div id="table_div"></div>
        </div>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->

<!--

  VIEW PERSON MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="viewPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Spot Name</h4><small id="spotAddress">Address Unknown</small> <small> Zone : <span id="personZone">N/A </span> </small>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="name" placeholder="Enter Name" value=>
                        </div>


                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Profile Picture:</label>

                        <div class="col-sm-10">
                          <label>
                            <input type="radio" name="profilePic" value="1" />
                            <img src="./images/profile/1.jpg" width="100" height="100">
                          </label>
                          <label>
                            <input type="radio" name="profilePic" value="2" />
                            <img src="./images/profile/2.jpg" width="100" height="100">
                          </label>
                          <label>
                            <input type="radio" name="profilePic" value="3" />
                            <img src="./images/profile/3.jpg" width="100" height="100">
                          </label>
                        </div>


                    </div>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Sensor Type:</label>
                            Warning: changing the sensor type will remove any data stored currently.
                            <div class="col-sm-10">
                              <select id="viewSensorTypeSelect">
                                <option value="zone">Zone</option>
                                <option value="sp">Person tracker</option>
                                <option value="multi">Multi-sensor</option>
                                <option value="s">Idle</option>
                              </select>

                                <div id="viewSensorCheckbox" class="radio hidden">
                                    <label>
                                        <input type="checkbox" id="vm" value="m" name="optradio">Motion</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="vl" value="l" name="optradio">Light</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="vt" value="t" name="optradio">Temperature</label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="vb" value="b" name="optradio">Button</label>
                                    <br>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 modal-footer">
                                <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" -->
                                <button class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteModal" data-name="">Delete spot</button>
                                <div class="pull-right">
                                    <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="personSubmit()">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#wrapper -->




<!--

  EDIT SENSOR MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Spot Name</h4><small id="spotAddress">Address Unknown</small> | <small> Zone : <span id="sensorZone">N/A </span> </small>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="name" placeholder="Enter Name" value=>
                        </div>
                    </div>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Sensor Type:</label>
                            Warning: changing the sensor type will remove any data stored currently.

                            <div class="col-sm-10">
                              <select id="editSensorTypeSelect">
                                <option value="zone">Zone</option>
                                <option value="sp">Person tracker</option>
                                <option value="multi">Multi-sensor</option>
                                <option value="s">Idle</option>
                              </select>

                                <div id="editSensorCheckbox" class="radio hidden">
                                    <label>
                                        <input type="checkbox" id="m" value="m" name="optradio">Motion</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="l" value="l" name="optradio">Light</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="t" value="t" name="optradio">Temperature</label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="b" value="b" name="optradio">Button</label>
                                    <br>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 modal-footer">
                                <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" -->
                                <button id="deleteBtn" class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteModal" data-name="">Delete spot</button>
                                <div class="pull-right">
                                    <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="modalSubmit()">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#wrapper -->

<!--

DELETE MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete <span id="myModalLabel">Spot Name</span> </h4><small id="deleteSpotAddress">Address Unknown</small>
            </div>
            <div class="modal-body">
                Are you sure that you want to delete this sensor? All data it has collected will also be deleted.

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteSubmit()"> Yes, delete this spot. </button>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
