<header class="container-fluid">
  <h1 class="centered">Smart lab   <a href="#/map" class="btn btn-primary"> <span class="fa fa-map-o"></span> </a>  <a class="btn btn-primary" ng-click="configureBases()" data-toggle="modal" data-target="#configureBases"> <span class="fa fa-mobile"></span> </a></h1>

</header>


<div class="centered" id="zoneContainer">

    <div id="zone1" class="col-xs-12 col-sm-6 col-md-4 zone">
        <h2>Zone 1 </h2>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveLight1"></div>
                        </div>

                        <div class="card-footer">

                          <button ng-click="open(1, 'light')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(1, 'light', 'blue')" class="sparkline"></div>
                          </button>


                        </div>

                    </div>
                    <!-- card -->
                </div>

                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveTemp1"></div>
                        </div>

                        <div class="card-footer">
                            <button ng-click="open(1, 'temp')" class="btn btn-default btn-block">  <div google-chart chart="sparkline(1, 'temp', 'red')" class="sparkline"></div>
                            </button>
                        </div>

                    </div>
                    <!-- card -->
                </div>

            </div>
            <!-- row -->
            <!-- @author Liam Cottier -->
            <div class="row">
              <div class="col-xs-6 object-card">
                <div id="kettleCard" class="card">
                  <div class="card-header">
                    <div class="col-xs-8">
                      <div> iKettle </div>
                    </div>
                    <div class="col-xs-1">
                      <div class="fa fa-cog"> </div>
                    </div>
                  </div>

                  <div class="card-content col-xs-12 centered">
                    <div id="kettleIcon" class="fa fa-coffee fa-4x"> </div>
                  </div>

                  <div class="card-footer">
                    <div class="col-xs-6"><button id="boilBtn" type="button" data-toggle="modal" data-target="#kettleModal"> Boil </button></div>
                    <div class="col-xs-6"><button id="kettleOffBtn" type="button" data-toggle="modal" data-target="#kettleBoil"> Standby </button></div>
                  </div>
                </div>
              </div>
                  <!-- card -->
              </div>
            <!-- row -->
        </div>
        <!-- //container -->

        <div class="container-fluid ">
            <h3>Sensors <small> (<span id="zone1SensorCounter">0</span>)</small></h3>
            <div class="row sensorsContainer" id="zone1Sensors">

            </div>


        </div>
        <!-- //container -->



    </div>
    <!-- zone -->



    <div id="zone2" class="col-xs-12 col-sm-6 col-md-4 zone">
        <h2>Zone 2</h2>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveLight2"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="open(2, 'light')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(2, 'light', 'blue')" class="sparkline"></div>
                        </button>

                        </div>

                    </div>
                    <!-- card -->
                </div>

                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveTemp2"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="open(2, 'temp')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(2, 'temp', 'red')" class="sparkline"></div>
                        </button>
                        </div>

                    </div>
                    <!-- card -->
                </div>

            </div>
            <!-- row -->
            <div class="row">
              <div class="col-xs-12 object-card">
                <div class="card">
                  <div class="card-content">
                    <a class="twitter-timeline" href="https://twitter.com/scc330jalp" data-widget-id="671335141994840068" width="100%" height="100%" data-chrome="noheader nofooter noborders transparent">Tweets by @scc330jalp</a>
                  </div>

                </div>
              </div>

            </div>


        </div>
        <!-- //container -->

        <div class="container-fluid ">
            <h3>Sensors <small> (<span id="zone2SensorCounter">0</span>)</small></h3>
            <div class="row sensorsContainer" id="zone2Sensors">


            </div>


        </div>
        <!-- //container -->


    </div>
    <!-- zone -->


    <div id="zone3" class="col-xs-12 col-sm-6 col-md-4 zone">
        <h2>Zone 3</h2>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveLight3"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="open(1, 'light')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(3, 'light', 'blue')" class="sparkline"></div>
                        </button>

                        </div>

                    </div>
                    <!-- card -->
                </div>

                <div class="col-xs-6 object-card">
                    <div class="card">

                        <div class="card-content">
                            <div class="gauge-container" google-chart chart="liveTemp3"></div>
                        </div>

                        <div class="card-footer">
                        <button ng-click="open(3, 'temp')" class="btn btn-default btn-block">
                            <div google-chart chart="sparkline(3, 'temp', 'red')" class="sparkline"></div>
                        </button>
                        </div>

                    </div>
                    <!-- card -->
                </div>

            </div>
            <!-- row -->


        </div>
        <!-- //container -->

        <div class="container-fluid ">
            <h3>Sensors <small> (<span id="zone3SensorCounter">0</span>)</small></h3>
            <div class="row sensorsContainer" id="zone3Sensors">


            </div>


        </div>
        <!-- //container -->



    </div>
    <!-- zone -->

</div>


<!--

    CONFIGURE BASES MODAL

 -->
<div id="configureBases" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Configure Base Stations</h4>
      </div>
      <div class="modal-body">

        <form id="baseForm" class="form-horizontal">




        </form>

        <div id="baseFormTemplate" class="form-group hidden">
          <label class="col-sm-4 control-label"></label>
          <div class="col-sm-6">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveBaseConfig()" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--

  CUP TEMPLATE

 -->
<div id="cupTemplate" class="col-xs-6  object-card hidden">

    <div class="card">
      <div class="row card-header">
        <div class="col-xs-1">
            <div id="battery"></div>
        </div>

        <div class="col-xs-8">
          <div id="spotName"> Spot name </div>
        </div>
        <div class="col-xs-1">
          <div id="status" class="status-light"> </div>
        </div>

      </div>

      <div class="card-content">

        <div id="glassContainer">
        <div id="glass">
            <div id="water"></div>
        </div>
        </div>

        <div id="waterLevel" class="centered"></div>


        <div class="divider"></div>
        <label>Reccomended daily intake</label>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 0%">
          </div>
        </div>

        <span id="spotTask" class="col-xs-12">Spot type</span>

      </div>

        <div class="card-footer">
          <div class="col-xs-6">
            <small id="spotMAC"> Spot MAC</small><br>
          </div>

          <div class="col-xs-6">

            <div class="dropup pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-cog"></span>
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <a id="buzzSpot" ><span class="fa fa-asterisk"></span> Buzz</a>
                </li>
                <li>
                  <a id="editCupBtn" class="data-button" data-toggle="modal" data-target="#editCup" data-name="" data-task="" data-address="" data-zone="" data-status="" data-battery=""><span class="fa fa-edit"></span> Edit</a>
                </li>
                <li>
                  <a id="locationHistoryBtn" data-toggle="modal" data-target="#historyPlayback" data-address="" class=""><span class="fa fa-history"></span> History</a>
                </li>
                <li>
                  <a id="spotAlarmsBtn" data-address="" data-name="" data-toggle="modal" data-target="#listAlarms" class=""><span class="fa fa-clock-o"></span> Alarms</a>
                </li>

              </ul>
            </div>
          </div>


        </div>


    </div>

</div>
<!-- end template -->
<!--

  PERSON TEMPLATE

 -->
<div id="personTemplate" class="col-xs-6 object-card hidden">
  <div class="card">
    <div class="row card-header">
      <div class="col-xs-1">
        <div id="battery"></div>
      </div>

      <div class="col-xs-8">
        <div id="spotName"> Spot name </div>
      </div>
      <div class="col-xs-1">
        <div id="status" class="status-light"> </div>
      </div>
    </div>
    <div class="card-content">

      <div class="centered">
        <span id="profileImage"class="fa fa-user fa-4x"></span>
      </div>

    </div>

    <div class="card-footer">

        <div class="col-xs-6">
          <small id="spotMAC"> Spot MAC</small><br>
        </div>

        <div class="col-xs-6">

          <div class="dropup pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-cog"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li>
                <a id="buzzSpot" ><span class="fa fa-asterisk"></span> Buzz</a>
              </li>
              <li>
                <a id="viewPersonBtn" class="data-button " type="button" name="button" data-toggle="modal" data-target="#viewPerson" data-name="" data-address="" data-zone="" data-task="" data-status="" data-battery=""><span class="fa fa-eye"></span> View</a>

              </li>
              <li>
                <a id="locationHistoryBtn" data-toggle="modal" data-target="#historyPlayback" class=""><span class="fa fa-history"></span> History</a>

              </li>
              <li>
                <a id="spotAlarmsBtn" data-address="" data-name="" data-toggle="modal" data-target="#listAlarms" class=""><span class="fa fa-clock-o"></span> Alarms</a>

              </li>

            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- end template -->

<!--

  SENSOR TEMPLATE

 -->
<div id="sensorTemplate" class="col-xs-6  object-card hidden">

    <div class="card">
      <div class="row card-header">
        <div class="col-xs-1">
            <div id="battery"></div>
        </div>

        <div class="col-xs-8">
          <div id="spotName"> Spot name </div>
        </div>
        <div class="col-xs-1">
          <div id="status" class="status-light"> </div>
        </div>

      </div>

      <div class="card-content">


        <div id="liveDatalight" title="Live Light Data" class="col-xs-6">  </div>
        <div id="liveDatatemp" title="Live Temperature Data" class="col-xs-6">  </div>
        <div id="liveDatamotion" title="Live Motion Data" class="col-xs-6">  </div>
        <div id="liveDatabtn" title="Live Button Data" class="col-xs-6">  </div>

        <span id="spotTask" class="col-xs-12">Spot type</span>

      </div>

        <div class="card-footer">

          <div class="col-xs-6">
            <small id="spotMAC"> Spot MAC</small><br>
          </div>

          <div class="col-xs-6">

            <div class="dropup pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-cog"></span>
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <a id="buzzSpot" ><span class="fa fa-asterisk"></span> Buzz</a>
                </li>
                <li>
                  <a id="editSensorBtn" class="data-button" data-toggle="modal" data-target="#myModal" data-name="" data-task="" data-address="" data-zone="" data-status="" data-battery=""><span class="fa fa-edit"></span> Edit</a>
                </li>
                <li>
                  <a id="historySensorBtn" data-address="" data-task="" class=""><span class="fa fa-bar-chart"></span> Graphs</a>
                </li>
                <li>
                  <a id="locationHistoryBtn" data-toggle="modal" data-target="#historyPlayback" data-address="" class=" "><span class="fa fa-history"></span> History</a>
                </li>
                <li>
                  <a id="spotAlarmsBtn" data-address="" data-name="" data-toggle="modal" data-target="#listAlarms" class=""><span class="fa fa-clock-o"></span> Alarms</a>
                </li>

              </ul>
            </div>
          </div>

      </div>
    </div>

</div>
<!-- end template -->

<!---

 BESPOKE TEMPLATE

--->
<div id="bespokeTemplate" class="col-xs-6  object-card hidden">

    <div class="card">
      <div class="row card-header">
        <div class="col-xs-1">
            <div id="battery"></div>
        </div>

        <div class="col-xs-8">
          <div id="spotName"> Spot name </div>
        </div>
        <div class="col-xs-1">
          <div id="status" class="status-light"> </div>
        </div>

      </div>

      <div class="card-content">


        <div id="liveData" title="Live Data" class="col-xs-12 centered">  </div>

        <span id="spotTask" class="col-xs-12">Spot type</span>

      </div>

        <div class="card-footer">

          <div class="col-xs-6">
            <small id="spotMAC"> Spot MAC</small><br>
          </div>

          <div class="col-xs-6">

            <div class="dropup pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-cog"></span>
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <a id="buzzSpot" ><span class="fa fa-asterisk"></span> Buzz</a>
                </li>
                <li>
                  <a id="editBespokeBtn" class="data-button" data-toggle="modal" data-target="#editBespokeSensor" data-name="" data-task="" data-address="" data-zone="" data-status="" data-battery=""><span class="fa fa-edit"></span> Edit</a>
                </li>
                <li>
                  <a id="historySensorBtn" data-address="" data-task="" class=""><span class="fa fa-bar-chart"></span> Graphs</a>
                </li>
                <li>
                  <a id="locationHistoryBtn" data-toggle="modal" data-target="#historyPlayback" data-address="" class=" "><span class="fa fa-history"></span> History</a>
                </li>
                <li>
                  <a id="spotAlarmsBtn" data-address="" data-name="" data-toggle="modal" data-target="#listAlarms" class=""><span class="fa fa-clock-o"></span> Alarms</a>
                </li>

              </ul>
            </div>
          </div>

      </div>
    </div>

</div>
<!-- end template -->



<!--

LIST ALARMS MODAL

 -->

<div id="listAlarms" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4> <span id="spotName" class="modal-title">Spot Name</span> Alarms</h4> <small id="spotAddress">Address</small>

      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <button id="newAlarmBtn" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newAlarm" data-address="" ><span class="fa fa-plus"></span> New</button>

        </div>

        <div id="alarmTable"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--

DELETE ALARM MODAL

 -->
<div id="deleteAlarm" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" > Delete alarm: <span id="alarmName">alarm title</span></h4> <small id="spotAddress"></small>
      </div>
      <div class="modal-body">
          Are you sure that you want to delete this alarm? It will be permenantly removed.

      </div>
      <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
          <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteAlarm()"> Yes, delete this alarm. </button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--

NEW ALARM MODAL

 -->

<div id="newAlarm" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Alarm</h4> <small id="spotAddress">Address</small>

      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Name:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="newAlarmName" placeholder="Enter Name" value=>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tune:</label>
                <div class="col-sm-10">
                  <select id="newAlarmTune">
                    <option value="cena">Cena</option>
                    <option value="mario">Mario</option>
                  </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Type:</label>
                <div class="col-sm-10">
                  <select id="newAlarmType">
                    <option value="o">Once</option>
                    <option value="d">Daily</option>
                    <option value="w">Weekly</option>
                  </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="newAlarmDay" placeholder="Enter Day" value=>
                </div>

            </div>

            <div class="form-group">

                <label class="control-label col-sm-2" for="email">Hour:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="newAlarmHour" placeholder="Enter Hour 0 - 24" value=>
                </div>

            </div>

            <div class="form-group">

                <label class="control-label col-sm-2" for="email">Minute:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="newAlarmMinute" placeholder="Enter Minute 0 - 60" value=>
                </div>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newAlarmSubmit()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--

HISTORY PLAYBACK MODAL

 -->

 <div id="historyPlayback" class="modal fade">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clear()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Location History Playback</h4> <small id="spotAddress"> address unkown </small>
       </div>
       <div class="modal-body" ng-init="loadHistory();">
        <div class="container-fluid">

            <div class="container-fluid">
              <!-- Display Zones -->
              <div id="playbackZone1" class="col-xs-4 playbackZone">
                  <span class="zone-label">Zone 1</span>
                  <div class="playbackObject" ng-class="{ 'show' : history[index].newVal == 1 }"></div>
              </div>

              <div id="playbackZone2" class="col-xs-4 playbackZone">
                  <span class="zone-label">Zone 2</span>
                  <div class="playbackObject" ng-class="{ 'show' : history[index].newVal == 2 }"></div>
              </div>

              <div id="playbackZone3" class="col-xs-4 playbackZone">
                  <span class="zone-label">Zone 3</span>
                  <div class="playbackObject" ng-class="{ 'show' : history[index].newVal == 3 }"></div>
              </div>

              <!-- Video Info -->
              <span class="playhistory-info">
                <span ng-if="history.length == 0" class="alert-danger">Selected range has no data.</span>
                <span ng-if="index <= history.length"class="alert-info">{{ history[index].timestamp | date:'medium' }}</span>
                <span ng-if="index == history.length && index > 0" class="alert-success">Completed</span>
              </span>

              <!-- Progress Bar -->
              <div class="input-group progress" style="clear:both;">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{index}}" aria-valuemin="0" aria-valuemax="{{ history.length }}" style="width: {{ (index/history.length)*100 }}%">
                <span class="sr-only">{{(index/history.length)*100}}% Complete</span>
                </div>
                <span class="input-group-addon playhistory-info">{{index}}/{{ history.length }}</span>
              </div>

            <!-- Player options -->
            <div class="center-wrap">
              <div class="btn-group">
                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="play(history.length)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="stop()"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="restart()"><span class="glyphicon  glyphicon-refresh" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default" aria-label="Right Align" ng-click="backward(history.length)"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="forward(history.length)"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>
                <select class="btn btn-info" style="border-bottom: 2px solid #5BC0DE" ng-options="selected as selected.hour for selected in playbackHours " ng-model="selected" ng-change="loadHistory()"></select>
                <select class="btn btn-info" style="border-bottom: 2px solid #5BC0DE" ng-options="selectedSpeed as selectedSpeed.speed for selectedSpeed in playbackSpeed " ng-model="selectedSpeed" ng-change="changeSpeed(history.length)"></select>
              </div>
            </div>

            <hr>

            <!-- Mini Date Squares -->
            <div class="container-fluid">
              <div ng-repeat="square in history track by $index">

                    <div class="date-square"
                    ng-class="{
                    'zone1-date-square' : (square.newVal == 1),
                    'zone2-date-square' : (square.newVal == 2),
                    'zone3-date-square' : (square.newVal == 3),
                    'zone-size-1' : ((history[$index+1].timestamp - square.timestamp) >= 60000*5),
                    'zone-size-2' : ((history[$index+1].timestamp - square.timestamp) >= 60000*30),
                    'zone-size-3' : ((history[$index+1].timestamp - square.timestamp) >= 60000*60),
                    'zone-size-4' : ((history[$index+1].timestamp - square.timestamp) >= 60000*60*24),
                    'zone-size-5' : ((history[$index+1].timestamp - square.timestamp) >= 60000*60*24*3),
                    'zone-size-6' : ((history[$index+1].timestamp - square.timestamp) >= 60000*60*24*5),
                    'zone-size-7' : ((history[$index+1].timestamp - square.timestamp) >= 60000*60*24*7),
                    'date-square-selected' : index == $index }"
                    ng-click="setIndex($index);console(history[$index+1].timestamp - square.timestamp)">{{square.newVal}}</div>

              </div>
            </div>

            </div>

            <div id="timeline_div"></div>
            <div id="table_div"></div>
        </div>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">Close</button>

       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->

<!--

<!--

  EDIT CUP MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="editCup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Spot Name</h4><small id="spotAddress">Address Unknown</small> | <small> Zone : <span id="sensorZone">N/A </span> </small> | Status : <span id="sensorStatus">?</span>  | Battery : <span id="battery">?</span>%
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="name" placeholder="Enter Name" value=>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Volume (ml):</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="volume" placeholder="Enter cup volume in ml." value=>
                        </div>
                    </div>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Sensor Type:</label>
                            Warning: changing the sensor type will remove any data stored currently.

                            <div class="col-sm-10">
                              <select id="editCupTypeSelect">
                                <option value="zone">Zone</option>
                                <option value="sc">Cup sensor</option>
                                <option value="sp">Person tracker</option>
                                <option value="multi">Multi-sensor</option>
                                <option value="s">Idle</option>
                              </select>

                                <div id="editCupCheckbox" class="radio hidden">
                                    <label>
                                        <input type="checkbox" id="m" value="m" name="optradio">Motion</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="l" value="l" name="optradio">Light</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="t" value="t" name="optradio">Temperature</label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="b" value="b" name="optradio">Button</label>
                                    <br>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 modal-footer">
                                <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" -->
                                <button id="deleteBtn" class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteModal" data-name="">Delete spot</button>
                                <div class="pull-right">
                                    <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="cupSubmit()">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#wrapper -->


<!--

  VIEW PERSON MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="viewPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Spot Name</h4><small id="spotAddress">Address Unknown</small> <small> Zone : <span id="personZone">N/A </span> </small> | Status : <span id="sensorStatus">?</span> | Battery : <span id="battery">?</span>%
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="name" placeholder="Enter Name" value=>
                        </div>


                    </div>

                    <div id="profilePictureSelection" class="form-group">
                        <label class="control-label col-sm-2" for="email">Profile Picture:</label>

                        <div class="col-sm-10">
                          <label>
                            <input type="radio" name="profilePic" value="1" />
                            <img src="./images/profile/1.jpg" width="100" height="100">
                          </label>
                          <label>
                            <input type="radio" name="profilePic" value="2" />
                            <img src="./images/profile/2.jpg" width="100" height="100">
                          </label>
                          <label>
                            <input type="radio" name="profilePic" value="3" />
                            <img src="./images/profile/3.jpg" width="100" height="100">
                          </label>
                        </div>


                    </div>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Sensor Type:</label>
                            Warning: changing the sensor type will remove any data stored currently.
                            <div class="col-sm-10">
                              <select id="viewSensorTypeSelect">
                                <option value="zone">Zone</option>
                                <option value="sc">Cup sensor</option>
                                <option value="sp">Person tracker</option>
                                <option value="multi">Multi-sensor</option>
                                <option value="s">Idle</option>
                              </select>

                                <div id="viewSensorCheckbox" class="radio hidden">
                                    <label>
                                        <input type="checkbox" id="vm" value="m" name="optradio">Motion</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="vl" value="l" name="optradio">Light</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="vt" value="t" name="optradio">Temperature</label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="vb" value="b" name="optradio">Button</label>
                                    <br>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 modal-footer">
                                <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" -->
                                <button class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteModal" data-name="">Delete spot</button>
                                <div class="pull-right">
                                    <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="personSubmit()">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#wrapper -->


<!--

  EDIT BESPOKE SENSOR MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="editBespokeSensor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Spot Name</h4><small id="spotAddress">Address Unknown</small> | <small> Zone : <span id="sensorZone">N/A </span> </small> | Status : <span id="sensorStatus">?</span>  | Battery : <span id="battery">?</span>% | Task: <span id="spotTask">?</span>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="name" placeholder="Enter Name" value=>
                        </div>
                    </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 modal-footer">
                                <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" -->
                                <button id="deleteBtn" class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteModal" data-name="">Delete spot</button>
                                <div class="pull-right">
                                    <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="bespokeSubmit()">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#wrapper -->


<!--

  EDIT SENSOR MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Spot Name</h4><small id="spotAddress">Address Unknown</small> | <small> Zone : <span id="sensorZone">N/A </span> </small> | Status : <span id="sensorStatus">?</span>  | Battery : <span id="battery">?</span>%
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="name" placeholder="Enter Name" value=>
                        </div>
                    </div>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Sensor Type:</label>
                            Warning: changing the sensor type will remove any data stored currently.

                            <div class="col-sm-10">
                              <select id="editSensorTypeSelect">
                                <option value="zone">Zone</option>
                                <option value="sc">Cup sensor</option>
                                <option value="sp">Person tracker</option>
                                <option value="multi">Multi-sensor</option>
                                <option value="s">Idle</option>
                              </select>

                                <div id="editSensorCheckbox" class="radio hidden">
                                    <label>
                                        <input type="checkbox" id="m" value="m" name="optradio">Motion</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="l" value="l" name="optradio">Light</label>
                                    <br>

                                    <label>
                                        <input type="checkbox" id="t" value="t" name="optradio">Temperature</label>
                                    <br>
                                    <label>
                                        <input type="checkbox" id="b" value="b" name="optradio">Button</label>
                                    <br>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 modal-footer">
                                <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" -->
                                <button id="deleteBtn" class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteModal" data-name="">Delete spot</button>
                                <div class="pull-right">
                                    <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                    <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="modalSubmit()">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#wrapper -->


<!--

  KETTLE MODAL
  @author Liam Cottier
 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="kettleModal" tabindex="-1" role="dialog" aria-labelledby="kettleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">iKettle</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <form class="form-horizontal" role="form">
                        <div id="kettleTempRadio"class="form-group">
                            <label class="control-label col-xs-2" for="email">Boil Temperature:</label>

                                    <div class="col-xs-10">
                                        <input type="radio" id="65" value="65" name="optradio">65</input>
                                    </div>

                                    <div class="col-xs-10">
                                        <input type="radio" id="80" value="80" name="optradio">80</input>
                                    </div>

                                    <div class="col-xs-10">
                                        <input type="radio" id="95" value="95" name="optradio">95</input>
                                    </div>

                                    <div class="col-xs-10">
                                        <input type="radio" id="100" value="100" name="optradio">100</input>
                                    </div>


                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 modal-footer">
                                <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" -->
                                <div class="pull-right">
                                    <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                    <button id="boilKettleBtn" class="btn btn-default" data-dismiss="modal"> Boil </button>
                                    <!-- <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="modalSubmit()">Save changes</button> -->
                                </div>

                            </div>
                        </div>
                    </form>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /#wrapper -->


<!--

DELETE MODAL

 -->
<!-- Modal boilerplate code: will get customised when it is loaded.  -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete <span id="myModalLabel">Spot Name</span> </h4><small id="deleteSpotAddress">Address Unknown</small>
            </div>
            <div class="modal-body">
                Are you sure that you want to delete this sensor? All data it has collected will also be deleted.

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteSubmit()"> Yes, delete this spot. </button>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

<!--
ZONE HISTORY MODAL
 -->
<script type="text/ng-template" id="zoneHistory.html">

    <div class="modal-header">
        <h3 class="modal-title">Zone History</h3>
    </div>
    <div class="modal-body">
    <div ng-init="loadData(dataFirst[0].timestamp, dataLast[0].timestamp)"></div>

<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Compare history</button>
  <hr>
  <div uib-collapse="isCollapsed">
    <div class="well well-lg">
        <div class="container-fluid">

          <div ng-if="message != null" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{message}}
          </div>

          <rzslider
          rz-slider-model="slider.startAt"
          rz-slider-high="slider.endAt"
          rz-slider-options="slider.options"></rzslider>

          <rzslider
          rz-slider-model="slider.nextStartAt"
          rz-slider-high="slider.nextStartAt + (slider.endAt - slider.startAt)"
          rz-slider-options="slider.options"></rzslider>

        <div ng-if="undefined !== slider.startAt && undefined !== slider.endAt && undefined !== slider.nextStartAt">

        <button ng-disabled="isDisabled" class="btn btn-default" ng-click="play()">{{ status }}</button><br/>
        </div>

        <linechart data="data" options="options" height="500" width="1500"></linechart>
        </div>
    </div>
  </div>









        <div google-chart chart="zoneData" class="history-chart"></div>



    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
    </div>


</script>
